<div class="py-2 flex items-center border-neutral-200 border-b justify-center w-full h-14">

  <app-arrow-button (onClick)="null" direction="left"></app-arrow-button>

    <div
      class="flex px-3 overflow-hidden whitespace-nowrap gap-x-2 w-full categorias-container items-center border-l-2 border-r-2 py-1 scrollbar-hide"
    >

      <app-category-item text="Hamburguesa"></app-category-item>
      <app-category-item text="Saludable"></app-category-item>

    </div>

  <app-arrow-button (onClick)="null" direction="right"></app-arrow-button>

</div>
