<div class="flex p-4 gap-12 justify-start items-start bg-stone-50 border-b border-b-neutral-200 px-5 max-sm:justify-between">

  <app-filter-element
    text="Mostrar solo"
    [options]="filterOptions.mostrarSolo"
    [selected]="filters.mostrarSolo"
    (filterChange)="onFilterChange(filterKeys[0], $event)"
    ></app-filter-element>

  <app-filter-element
    text="Buscar en"
    [options]="filterOptions.buscarEn"
    [selected]="filters.buscarEn"
    (filterChange)="onFilterChange(filterKeys[1], $event)"
  ></app-filter-element>

  <app-filter-element
    text="Ordenar por"
    [options]="filterOptions.ordenarPor"
    [selected]="filters.ordenarPor"
    (filterChange)="onFilterChange(filterKeys[2], $event)"
  ></app-filter-element>

  <app-filter-element
    text="Ordenar"
    [options]="filterOptions.tipoOrden"
    [selected]="filters.tipoOrden"
    (filterChange)="onFilterChange(filterKeys[3], $event)"
  ></app-filter-element>

</div>
