<section class="h-fit rounded-lg  bg-orange-100 w-full flex justify-around items-center p-10">

    <app-banner-item title="Apoya lo local" subtitle="Descubre y apoya tiendas de la UdeA">
        <app-store-icon></app-store-icon>
    </app-banner-item>

    <app-banner-item title="Descuento de bienvenida" subtitle="20% de descuento">
        <app-hamburger-icon></app-hamburger-icon>
    </app-banner-item>

    <app-banner-item title="Verdadera variedad" subtitle="Todo tipo de tiendas para ti">
       <app-leaf-icon></app-leaf-icon>
    </app-banner-item>

    <app-banner-item title="Seguridad" subtitle="Tiendas verificadas">
        <app-star-icon></app-star-icon>
    </app-banner-item>
</section>
