.store-card{
    background-image: url("assets/images/food1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
}

.store-card__info-container{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    min-width: 0;
}

.store-card__icon-container{
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}