.store-card{
    background-image: url("assets/images/food1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
}

.store-card__info-container{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    min-width: 0;
}

.store-card__icon-container{
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

/* .roundedCard {
  border-radius: 100px 100px 8px 8px;
}

.cardTienda {
  width: 200px;
}
@media (max-width: 640px) {
  .cardTienda {
    width: 30%;
  }
}

@media (max-width: 550px) {
  .cardTienda {
    width: 45%;
    min-width: 180px;
  }
} */