<nav
  class="bg-white border-b-2 border-b-orange-500 py-3 px-5 w-full h-full flex items-center justify-between gap-10 max-sm:gap-3 z-30">


  <a href="/" class="flex items-center gap-2 max-sm:hidden ">
    <img
      src="assets/images/UdeALogo.png"
      width="80"
      height="24"
      alt="logo udea food"
      class="w-20 h-full"
    />
  </a>

  <div class="w-1/2 flex-auto">
    <app-search-bar
      (search)="search($event)"
      placeholder="Comida, tiendas, productos, ..."></app-search-bar>
  </div>


  <div class="flex gap-5 h-full" *ngIf="(isLogged$ | async)">
    <app-principal-button
      text="Iniciar sesión"
      styleButton="secondary"
      buttonType="button"
      [showIcon]="false"
      (onClick)="openLoginPage()"
    ></app-principal-button>

    <app-principal-button
      text="Registrarse"
      styleButton="primary"
      buttonType="button"
      [showIcon]="false"
      (onClick)="openRegisterPage()"
    ></app-principal-button>
  </div>

  <div class="flex items-center h-full text-orange-500 gap-10 max-sm:gap-3">
    <ng-container *ngIf="(currentAccount  | async)?.tipoCuenta === 'tienda'; else cliente">
      <a href="">
        <app-add-circle-dashed-icon></app-add-circle-dashed-icon>
      </a>
      <a href="">
        <app-store-icon></app-store-icon>
      </a>
    </ng-container>


    <ng-template #cliente>
      <!-- carrito -->
    </ng-template>


    <!-- Button to create store -->
    <div class="relative">

      <!-- Button to show menu -->
      <!-- MOSTRAR INFORMACIÓN DE LAS CUENTAS - MENU -->

      <!--  MENU -->

      <app-account-menu
        [currentAccount]="(currentAccount | async)"
        [accountInfo]="(accountInfo | async)"

      ></app-account-menu>

    </div>
  </div>

</nav>
