<app-category></app-category>
<div class="w-full h-3/5 flex flex-col items-center justify-center p-5">
  <div class="grid grid-cols-3 gap-4 w-[1200px] h-60">
    <app-home-button
      srcImage="assets/images/Formales.png"
      text="tiendas formales"
    ></app-home-button>
    <app-home-button
      srcImage="assets/images/Informales.png"
      text="tiendas informales"
    ></app-home-button>
    <app-home-button
      srcImage="assets/images/Todas.png"
      text="todas"
    ></app-home-button>
  </div>
  <span *ngFor="let item of productos">{{item.nombre}}</span>
</div>
