<div>

    <div class="w-full p-5">
      <div class="w-full rounded-xl overflow-hidden">
        <img
          src="assets/images/food2.png"
          alt="imagen de miniatura"
          class="w-full h-96 object-cover block"
        />
      </div>
    </div>
<div class="flex gap-5 text-orange-700" >

    <app-grid-icon></app-grid-icon>
    <app-hamburger-icon></app-hamburger-icon>
    <app-leaf-icon></app-leaf-icon>
    <app-home-icon></app-home-icon>
    <app-globe-icon></app-globe-icon>
    <app-sun-icon></app-sun-icon>
    <app-lunch-icon></app-lunch-icon>
    <app-moon-icon></app-moon-icon>
    <app-cake-icon></app-cake-icon>
    <app-glass-icon></app-glass-icon>
    <app-meat-icon></app-meat-icon>
    <app-fish-icon></app-fish-icon>
    <app-pizza-icon></app-pizza-icon>
    <app-camaron-icon></app-camaron-icon>
    <app-utensils-icon></app-utensils-icon>
    <app-chopsticks-icon></app-chopsticks-icon>
    <app-apple-icon></app-apple-icon>
    <app-bread-icon></app-bread-icon>
    <app-ice-cream-cone-icon></app-ice-cream-cone-icon>
</div>
    
    <div class="w-full h-full flex flex-col items-center justify-center p-5">
    
        <div class="grid grid-cols-3 gap-4 w-full max-w-[1200px] h-60 max-md:grid-cols-1 max-md:w-full max-md:h-full">
            <app-home-button srcImage="assets/images/Formales.png" text="tiendas formales"></app-home-button>
            <app-home-button srcImage="assets/images/Informales.png" text="tiendas informales"></app-home-button>
            <app-home-button srcImage="assets/images/Todas.png" text="todas"></app-home-button>
        </div>
    
    </div>
    <app-category></app-category>
</div>