<div class=" p-5 pt-0 flex flex-col gap-2">

    
        <app-category></app-category>


    <div class="w-full">
        <div class="w-full rounded-xl overflow-hidden">
            <img src="assets/images/food3.png" alt="imagen de miniatura" class="w-full h-80 object-cover block" />
        </div>
    </div>

    <!-- <div class="w-full h-full flex flex-col items-center justify-center p-5">
    
        <div class="grid grid-cols-3 gap-4 w-full max-w-[1200px] h-60 max-md:grid-cols-1 max-md:w-full max-md:h-full">
            <app-home-button srcImage="assets/images/Formales.png" text="tiendas formales"></app-home-button>
            <app-home-button srcImage="assets/images/Informales.png" text="tiendas informales"></app-home-button>
            <app-home-button srcImage="assets/images/Todas.png" text="todas"></app-home-button>
        </div>
    
    </div> -->


    <section class="flex flex-col gap-3 mt-8">
        <h3 class="font-bold text-3xl text-black">Nuestras tiendas</h3>
        <div class="relative flex justify-center items-center">

            <app-arrow-button class="absolute top-[105px] left-0 z-10" (onClick)="scrollLeft()" direction="left"></app-arrow-button>

            <div class="flex flex-nowrap overflow-hidden pb-5 w-full gap-5" #storeBar>

                <app-store-card *ngFor="let tienda of tiendas$ | async" [tienda]="tienda"></app-store-card>

            </div>

            <app-arrow-button class="absolute top-[105px] right-0 z-10" (onClick)="scrollRight()" direction="right"></app-arrow-button>

        </div>
    </section>




    <app-home-banner class="mt-10"></app-home-banner>




</div>