<li class="flex items-center gap-4">
  <!-- Detail Circle or Square -->
  <span
    [class]="'w-6 h-6 border-2 border-gray-300 ' +
    ingrediente.multiple ? 'rounded-md' : 'rounded-full'"
  ></span>

  <!-- Option name -->

  <!-- onChange={(e: ReactChangeEvent<HTMLInputElement>) => {
    const newNameOption = e.target.value;
    handleChangeOption(newNameOption, 'nombre');
    }} -->
  <div class="justify-center items-center flex-1">
    <TextInputField
      text=""
      name="nombre"
      inputType="text"
      placeholder="Ejemplo: Oregano"
      value={opcion.nombre}

    />
    <app-text-input-field
      label="Descripción"
      placeholder="Ejemplo: Oregano"
      inputType="textarea"
      [control]="descripcion"
    ></app-text-input-field>
  </div>

  <!--Option price -->
  <div class="flex w-1/4">
    <TextInputField
      text=""
      name="costo"
      inputType="number"
      placeholder="Precio: 0"
      value={opcion.costo}
      onChange={(e: React.ChangeEvent<HTMLInputElement>) => {
    const newCostOption = e.target.value;
    if(parseInt(newCostOption) < 0){
    return
    }
    handleChangeOption(newCostOption, 'costo');
    }}
    />
  </div>

  <!-- Button to remove option -->
  <div
    class="hover:bg-red-200 rounded-full p-2 transition-all duration-150 cursor-pointer flex justify-center items-center"
    onClick={handleRemoveOption}
  >
    <app-close-icon></app-close-icon>
  </div>
</li>
