<div
  class="relative flex flex-col rounded-md border border-gray-200 bg-white shadow-lg w-full h-full"
>
  <div
    class="flex flex-col w-full h-full p-7 pb-5 pt-10 gap-5"
  >
        <span
          class="absolute -top-0 left-0 font-extrabold text-md bg-neutral-700 px-3 py-[2px] text-center text-white rounded-br-lg rounded-tl-[5px] ">
          #{{ indexIngrediente + 1 }}
          </span>

    <!-- Titulo -->
    <app-text-input-field
      label="Texto ingrediente:"
      placeholder="Ejemplo: Tipo de pan"
      [control]="nombre"
      errorMessage="Campo obligatorio"
    ></app-text-input-field>

    <!-- Opciones -->
    <ul class="flex flex-col gap-4 items-start ml-7">


      <ng-container *ngFor="let option of options.controls; let j = index">
        <app-ingredient-option
          [options]="options.at(j)"
          (onDelete)="handleRemoveOption(j)"
          [multiple]="multiple"
        ></app-ingredient-option>
      </ng-container>
      <div>


      </div>

    </ul>

    <!--  </div></div>-->

    <!-- Button to add new option -->
    <!-- onClick = {() => {
          console.log("Agregar opción clickeado");
          setIngredienteProducto((prev) = > {
          const ingredientesActualizados = prev.ingredientes.map(
            (ingrediente, i) = > {
          if (i === indexIngrediente) {
          return {
          ...ingrediente,
          opciones: [
          ...ingrediente.opciones,
          { nombre: "", costo: 0 },
          ],
          };
          }
          return ingrediente;
          }
          );
          return {
          ...prev,
          ingredientes: ingredientesActualizados,
          };
          });
          }}-->
    <div class="flex ml-7 ">
      <div class="w-1/2">
        <button
          class="px-4 py-2 rounded-md flex gap-2 font-bold hover:underline-offset-4 hover:underline text-orange-500"
          type="button"
          (click)="handleAddOption()"

        >
          <app-add-section-icon></app-add-section-icon>
          Agregar opción
        </button>
      </div>
    </div>



    <!-- Max and Min -->
    <div class="flex gap-5 text-sm mt-5">
      <div *ngIf="showRespuestasMinimas()" class="flex gap-5 items-center w-56">

        <span class="font-semibold">Respuestas minimas</span>

        <app-text-input-field
          inputType="number"
          placeholder="Ejemplo: 15000"
          [control]="minSeleccion"
          errorMessage="El valor es incorrecto"
          [minValue]="obligatorio.value ? 1 : 0"
          [maxValue]="options.length"
        ></app-text-input-field>

      </div>




      <div class="flex items-center gap-5" *ngIf="showRespuestasMaximas()">
        <span class="font-semibold">Respuestas máximas</span>

        <app-form-dropdown
          [options]="optionsArray"
          [showCreateSection]="false"

          (optionChange)="handleMaxSeleccionChange($event)"
        ></app-form-dropdown>
      </div>
    </div>
  </div>





  <!-- Obligatorio y varias respuestas -->
  <div class="flex gap-3 items-center justify-end border-t-2 border-gray-200 py-3 px-5 pb-5">
    <div class="flex gap-5 border-r border-gray-500 pr-7 text-sm">

      <app-toggle text="Varias respuestas" (onChange)="handleMultipleOptions($event)"></app-toggle>



      <app-toggle text="Obligatorio" (onChange)="handleObligatorio($event)"></app-toggle>
    </div>

    <div>
      <!--      <IconButton>
              <TrashIcon/>

            </IconButton>-->
      <app-trash-icon></app-trash-icon>
    </div>
  </div>
</div>
