<div
  class="relative flex flex-col rounded-md border border-gray-200 bg-white shadow-lg w-full h-full"
>
  <div
    class="flex flex-col w-full h-full p-7 pb-5 pt-10 gap-5"
  >
        <span
          class="absolute -top-0 left-0 font-extrabold text-md bg-neutral-700 px-3 py-[2px] text-center text-white rounded-br-lg rounded-tl-[5px] ">
          #{{ indexIngrediente + 1 }}
          </span>

    <!-- Titulo -->
    <app-text-input-field
      placeholder="Ejemplo: Tipo de pan"
      [control]="nombre"
    ></app-text-input-field>

    <!-- Opciones -->
    <ul class="flex flex-col gap-4 items-start ml-7">
      {ingrediente.opciones.map((opcion, indexOpcion) => {

      <div >
        <IngredientOption opcion={opcion} indexOpcion={indexOpcion} ingrediente={ingrediente}
                          indexIngrediente={indexIngrediente}
                          setIngredienteProducto={setIngredienteProducto}/>


      </div>

    </ul>

    <!-- Button to add new option -->
<!--    <div class="flex ml-7 ">
      < div class = "w-1/2" >
      < button
      class = "px-4 py-2 rounded-md flex gap-2 font-bold hover:underline-offset-4 hover:underline text-orange-500"
      type = "button"
      onClick = {() => {
      console.log("Agregar opción clickeado");
      setIngredienteProducto((prev) = > {
      const ingredientesActualizados = prev.ingredientes.map(
        (ingrediente, i) = > {
      if (i === indexIngrediente) {
      return {
      ...ingrediente,
      opciones: [
      ...ingrediente.opciones,
      { nombre: "", costo: 0 },
      ],
      };
      }
      return ingrediente;
      }
      );
      return {
      ...prev,
      ingredientes: ingredientesActualizados,
      };
      });
      }}
      >
      <AddSectionIcon/>
      Agregar opción
      </button>
    </div>
  </div>-->

  <!-- Max and Min -->
<!--  <div class="flex gap-5 text-sm mt-5">
    <div class="flex gap-5 items-center w-56">
      <span class="font-semibold">Respuestas minimas</span>
      <TextInputField
        text=""
        name=""
        inputType="number"
        placeholder="Ejemplo: 15000"
        value={ingrediente.minSeleccion}
        onChange={(e)
      => {
      if(parseInt(e.target.value) >= ingrediente.opciones.length + 1 || parseInt(e.target.value) < 0){
      return
      }
      setIngredienteProducto((prev) => {

      const ingredientesActualizados = [...prev.ingredientes];
      ingredientesActualizados[indexIngrediente].minSeleccion =
      parseInt(e.target.value);

      if(ingredientesActualizados[indexIngrediente].minSeleccion >
      ingredientesActualizados[indexIngrediente].maxSeleccion
      || ingredientesActualizados[indexIngrediente].maxSeleccion > ingrediente.opciones.length){
      ingredientesActualizados[indexIngrediente].maxSeleccion = ingredientesActualizados[indexIngrediente].minSeleccion;
      }

      if(ingredientesActualizados[indexIngrediente].minSeleccion >= 2){
      ingredientesActualizados[indexIngrediente].multiple = true;
      }
      return { ...prev, ingredientes: ingredientesActualizados };
      });
      }}

      />

    </div>

    <div class="flex items-center gap-5">
      <span class="font-semibold">Respuestas máximas</span>
      <select
        disabled={!ingrediente.multiple}
        value={ingrediente.maxSeleccion}
        class={`shadow-inner shadow-gray-300 w-20 h-8 flex justify-center items-center text-center rounded-md
        ${ingrediente.multiple ? "bg-neutral-100" : "bg-gray-300 text-gray-400 cursor-not-allowed"}`}
      onChange={(e) => {
      const maxSeleccion = parseInt(e.target.value);
      if(maxSeleccion > ingrediente.opciones.length) return;
      setIngredienteProducto((prev) => {
      const ingredientesActualizados = [...prev.ingredientes];
      ingredientesActualizados[indexIngrediente].maxSeleccion =
        maxSeleccion;

        if(maxSeleccion < ingredientesActualizados[indexIngrediente].minSeleccion){
      ingredientesActualizados[indexIngrediente].minSeleccion = maxSeleccion;
      }
      if(maxSeleccion === 1){
      ingredientesActualizados[indexIngrediente].multiple = false;
      }
      return { ...prev, ingredientes: ingredientesActualizados };
      });
      }}
      >
      {Array.from(
      { length: ingrediente.opciones.length },
      (_, i) => i + 1
    ).map((num) => (
      <option key={num} value={num}>
      {num}
      </option>
    ))}
      </select>
    </div>
  </div>
</div>-->

<!-- Obligatorio y varias respuestas -->
<!--<div class="flex gap-3 items-center justify-end border-t-2 border-gray-200 py-3 px-5 pb-5">
  <div class="flex gap-5 border-r border-gray-500 pr-7 text-sm">
    <Toggle
      text="Varias respuestas"
      value={ingrediente.multiple}
      onChange={(isChecked)
    => {
    setIngredienteProducto((prev) => {
    const ingredientesActualizados = [...prev.ingredientes];
    ingredientesActualizados[indexIngrediente].multiple = isChecked;
    if (!isChecked) {
    ingredientesActualizados[indexIngrediente].maxSeleccion = 1;
    ingredientesActualizados[indexIngrediente].minSeleccion = 1;
    }
    return { ...prev, ingredientes: ingredientesActualizados };
    });
    }}
    />

    <Toggle
      text="Obligatorio"
      value={ingrediente.minSeleccion>= 1}
      onChange={(isChecked) => {
      const minSeleccion = isChecked ? 1 : 0;
      setIngredienteProducto((prev) = > {
      const ingredientesActualizados = [...prev.ingredientes];
    ingredientesActualizados[indexIngrediente].minSeleccion =
      minSeleccion;

    if (
    isChecked &&
    ingredientesActualizados[indexIngrediente].maxSeleccion <= 0
  ) {
      ingredientesActualizados[indexIngrediente].maxSeleccion = 1;
      }

      return {...prev, ingredientes: ingredientesActualizados };
      });
      }}
      />
  </div>

  < div
  onClick = {() => {
  setIngredienteProducto((prev) = > {
  const ingredientesActualizados = [...prev.ingredientes].filter(
(_, j) = > {
  if (j !== indexIngrediente) {
  return true;
  }
  return false;
  }
  );
  return {
  ...prev,
  ingredientes: ingredientesActualizados,
  };
  });
  }}
  >
  <IconButton>
    <TrashIcon/>
  </IconButton>
</div>
</div>
</div>-->
