<div class="px-4 py-3 flex items-center justify-between sticky top-0 z-10 overflow-hidden gap-5 border bg-border-200 rounded-t-xl bg-neutral-100">


    <div class="flex items-center gap-5 w-3/4">
        <h2 class="text-lg font-bold">Secciones</h2>

        <div class='flex gap-2 overflow-x-hidden items-center w-full ' #sectionContainer>
            <ng-container *ngFor="let section of secciones; let i = index">


                <!-- acticar la seccion (click) -->
                <!-- en a [href]="'#' + section.nombre" -->
                <a (click)="switchSection(section.nombre)"
                    [ngClass]="{'px-4 py-2 relative transition-colors duration-150 whitespace-nowrap rounded-lg cursor-pointer  font-bold': true,

                    'text-white bg-gradient-to-r from-orange-500 to-orange-600' : activeSection === section.nombre,

                    'text-black hover:bg-orange-100 hover:text-orange-500 hover:border-orange-500 bg-neutral-200 border bg-border-300': activeSection !== section.nombre
                }


                    ">

                    {{ section.nombre }}

                </a>
            </ng-container>

        </div>


        <!--<CreateSection
      show={showCreateSection}
      setShow={setShowCreateSection}
    />-->

        <div class="flex items-center">
            <!-- Agregar click para mover la section bar -->
            <app-arrow-button direction="left" (onClick)="scrollLeft()"></app-arrow-button>
            <app-arrow-button direction="right" (onClick)="scrollRight()"></app-arrow-button>
        </div>

      <div class="flex items-center">

        <app-create-section-dialog [style]="'secondary'" buttonWidth="custom"></app-create-section-dialog>
      </div>
    </div>


    <div class="flex items-center space-x-2 w-1/4">
        <div class="w-full">
            <app-search-bar placeholder="Buscar dentro de la tienda" backgroundColor="bg-white" (search)="updateControl($event)" ></app-search-bar>
        </div>
    </div>


</div>
