/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.lateralShadow{
  box-shadow:
    inset -12px 0px 10px  -1px rgba(0, 0, 0, 0.12),
    inset  12px 0px 10px -5px rgba(0, 0, 0, 0.12);

}

.hover-logo{
  @apply hover:bg-orange-200 rounded-full transition duration-150 hover:scale-110 p-2 cursor-pointer;
}



/*--------------------  MENU ACCOUNT INFO --------------------*/
.menu-account-info{
  @apply hover:bg-neutral-200 duration-150 transition-colors cursor-pointer flex gap-4 items-center;
}
.menu-account-info-padding{
  @apply p-4;
}

.menu-account-border{
  @apply border-b  border-neutral-200;
}

.menu-account-shadow{
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 0.1);
}

/*--------------------  ACCOUNT --------------------*/
.near-shadow{
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 0.1)
}

