<div class="gap-2 font-semibold text-sm flex flex-col w-full">
  <label *ngIf="label" class="font-semibold">{{ label }}</label>

  <div class="relative">
    <input
      [type]="inputType"
      [formControl]="control"
      [ngClass]="[
    color,
    'shadow-inner shadow-gray-200 rounded-md h-10 w-full ps-5 px-4 text-sm text-gray-900 font-medium focus:bg-white focus:outline-2 focus:outline-orange-500 focus:border-transparent focus:outline-offset-0 hover:border-orange-300 transition duration-150 ease flex items-center',
    inputType === 'number' ? 'noSpinner min-w-[120px]' : '',
    control.invalid && control.touched ? 'border-2 border-red-600' : 'border border-gray-100'
  ]"
      [placeholder]="placeholder"
    />

    <div *ngIf="inputType === 'number'" class="flex absolute right-2 top-2 bottom-2 gap-2 h-6">
      <button
        type="button"
        class="rounded-[3px] bg-neutral-200 hover:bg-neutral-300 w-7 h-full border-neutral-300 border transition-colors duration-150 flex items-center justify-center"
        (click)="incrementValue()"
      >
        <app-add-section-icon ></app-add-section-icon>
      </button>
      <button
        type="button"
        class="rounded-[3px] bg-neutral-200 hover:bg-neutral-300 w-7 h-full border-neutral-300 border transition-colors duration-150 flex items-center justify-center"
        (click)="decrementValue()"
      >
        <app-minus-icon></app-minus-icon>
      </button>
    </div>

    <small *ngIf="control.invalid && control.touched" class="text-red-600 ps-1">
      {{ errorMessage }}
    </small>
  </div>
</div>
