<div
  class="rounded-full flex  items-center hover:bg-orange-200  transition duration-150 hover:scale-110 cursor-pointer"
  (click)="toggleMenu()"
>
  <img
    src="https://picsum.photos/200"
    alt=""
    class="h-full rounded-full w-8"
  />
</div>




<div class="absolute right-0 top-[140%]  w-64 h-fit bg-white rounded-lg menu-account-shadow border border-gray-100  z-40" *ngIf="showMenu" >

  <ul class="text-gray-800 pb-2 z-50" >
    <!-- Current account -->
    <li class="flex gap-4 items-center border-b p-4 border-neutral-200">
      <img
        src="https://picsum.photos/200"
        alt=""
        class="h-full rounded-full w-10"
      />
      <span class="text-md font-bold">
        {{ (currentAccount | async )?.nombre }}
      </span>
    </li>


    <!-- User account -->
    <!-- CAMBIAR CUENTA (CLICK) -->
    <app-account-menu-item
      [idCuenta]="(accountInfo | async)?.usuario?.id!"
      *ngIf="(accountInfo | async)?.usuario?.id !== (accountInfo | async)?.idActivo"
      [nombre]="(accountInfo | async)?.usuario?.nombre!"
      [tipoCuenta]="(accountInfo | async)?.usuario?.tipoCuenta!"
      foto="https://picsum.photos/100"
      label="Usuario"
      (onClick)="handleChangeAccount($event)"
    ></app-account-menu-item>


    <!-- List of stores -->
    <!-- (CLICK) CAMBIAR CUENTA ACTIVA (onClick)="handleChangeAccount(store.id)" -->
    <ng-container *ngFor="let store of (accountInfo | async )?.tiendas">
      <app-account-menu-item
        [idCuenta]="store.id"
        *ngIf="store.id !== (accountInfo | async )?.idActivo"
        [nombre]="store.nombre"
        foto="https://picsum.photos/50"
        [tipoCuenta]="store.tipoTienda"
        label="Tiendas"
        (onClick)="handleChangeAccount($event)"
      ></app-account-menu-item>

    </ng-container>


    <!-- Other options -->
    <!-- onClick={() => setShowAccountInfo(false)} -->
    <li class="menu-account-info menu-account-info-padding menu-account-border">
      <a href="/cuenta" class="flex gap-4">
        <app-pen-edit-icon></app-pen-edit-icon>
        Actualizar información
      </a>
    </li>

    <li class="menu-account-info menu-account-info-padding menu-account-border">
      <app-setting-icon></app-setting-icon>
      Configuración
    </li>
    <!--       onClick={()=> {
    logOut("");
    setAccountInfo(accountInfoInitialState);
    setShowAccountInfo(false);
    }} -->
    <li
      class="menu-account-info menu-account-info-padding"
      (click)="logOut()"
    >
      <app-log-out-icon></app-log-out-icon>
      Salir
    </li>
  </ul>
</div>
